fastapi
uvicorn
sqlalchemy
pandas
numpy
scikit-learn
xgboost
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
python-dotenv
alembic
psycopg2-binary
pytest
requests
joblib
google-auth
gunicorn
